*{
	margin: 0;
	padding: 0;
	border: 0;
}

*,
*:before,
*:after{
	-webkit-box-sizing: border-box;
	   -moz-box-sizing: border-box;
			box-sizing: border-box;
}

html,body{
	font-family: Bebas Neue;
	width: 100%;
}
.header-size{
	width: 100%;
	height: 550px;
}
.container,
.grid{
	margin: 0 auto;
	width: 100%;
}
.container{
	padding-left: 30px;
	padding-right: 30px;
}
.top-bottom-bg{
	/*background-color: #000011;*/
	background-image: url("../portfolio/bg_header.png");
	background-position: center;
	background-repeat: no-repeat;
	color: white;
	height: 90%;
	width: 100%;
}
.top-bottom-collor{
	background-color: #000011;
	color: white;
	height: 10%;
	width: 100%;
}
.top-bottom-collor a{
	color: white;
	text-decoration: none;
}
a{
	padding: 0 5px;
	text-decoration: none;
}
.navigation{
	list-style: none;
	height: 50px;
	position: relative;
}
.navigation li {
display: inline-block;
position: relative;
/*z-index: 9999;
background: url(../images/star.png) no-repeat center right;*/
padding-right: 10px;
}

.bottom-bg{
	width: 100%;
	height: 500px;
	background-image: url("../portfolio/bg_footer.png");
	background-position: center;
	background-repeat: no-repeat;
}

.grid,
.col-4,
.col-6{
	padding: 15px;
}

.col-4,
.col-6{
	display: block;
	float: left;
}
.col-4{
	width: 80%;
}
.col-6{
	width: 20%;
}

.clearfix:before,
.clearfix:after{
	content:"";
	display: table;
}
.clearfix:after{
	clear: both;
}
.clearfix{
	clear: both;
	*zoom: 1;
}

h1, h3, h4, h5, p{
	margin-bottom: 22px;
}
.btn{
	border-radius: 5px;
	display: inline-block;
	margin: 0;
}
.btn-alt{
	border: 1px solid #dfe2e5;
	padding: 10px 30px;
	text-transform: uppercase;
}
.hero{
	padding: 22px 80px 66px 80px;
	text-align: center;
}

.text-right{
	text-align: right;
}
.news-header{
	height: 250px;
	width: 100%;
	background-image: url("../portfolio/bg_testimonial.png");
	background-position: center;
	background-repeat: no-repeat;
}